# Django
__pycache__/
*.pyc
backend/venv/
backend/.env
backend/db.sqlite3

# Node / Expo
mobile/node_modules/
mobile/.expo/
mobile/dist/

# Dashboard (futur)
dashboard/node_modules/
dashboard/dist/

# Système
.DS_Store
*.log
.env
tests/
test-results/
playwright-report/
.playwright/